<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
	  <staticContent>
     <!-- remove first in case they are defined in IIS already, which would cause a runtime error -->
     <remove fileExtension=".woff" />
     <remove fileExtension=".woff2" />
     <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
     <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
  </staticContent>
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" />
    <sessionState timeout="500" />
    <trust level="Full" />
  </system.web>
</configuration>